.navbar {
    width: 100%;
    height: 90px;
    background-color: #dfdfdf;

    .image-container {
        position: absolute;
        top: 8px;
        left: 607px;

        .nav-icon {
            max-width: 128px;
            height: 77px;
            position: absolute;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
        }
    }

    .nav-buttons{
        display: flex;
        height: 100%;
        justify-content: flex-end;
        align-items: center;

        .cart-btn,
        .city-btn {
            padding: 15px 40px;
            border-radius: 50px;
            color: white;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
        }

        .cart-btn {
            background: linear-gradient(98.44deg, #F54874 52.42%, #EC008C 107.37%);
        }

        .city-btn {
            background: linear-gradient(98.44deg, #F5BA48 52.42%, #EC7609 104.8%, #EC008C 107.37%);
        }
    }
}